In [33]:
import pandas as pd
import numpy as np

# Configure display settings
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', '{:.2f}'.format)

print("="*50)
print("FMCG DATA CLEANING PROCESS")
print("="*50)

==================================================
FMCG DATA CLEANING PROCESS
==================================================

In [34]:
print("="*50)
print("LOADING DATA")
print("="*50)

==================================================
LOADING DATA
==================================================

In [35]:
file_path = "E:\FMCG_Raw.xlsx"
df = pd.read_excel("E:\FMCG_Raw.xlsx")
print(f"✓ Loaded {len(df):,} rows × {len(df.columns)} columns")

✓ Loaded 90,866 rows × 39 columns

In [36]:
df.head(5)

,Invoice Number,Payment Mode,Cash Invoice,Invoice date,Invoice Status,Customer Code,Customer Name,State,Base GOI Market ID,Base GOI Market,Salesman Name,Salesman Type,Beat,Category,Sub-Category,Market SKU,Item Code,Item Description,Base UOM,Quantity Base UOM,Sales Price,Invoice UOM,Invoice Qty,Invoice Rate,Gross Amount,Discount Amount,Taxable Value,Tax Group Value,CGST Rate,CGST,SGST/UTGST Rate,SGST/UTGST,IGST Rate,IGST,Cess Rate,Cess,Additional Cess Rate,Additional Cess,Total Amount
0,I/24-25/015848,Cash,No,2025-01-04,Invoiced,21BCUS9931,SRI LAKSHMI EGGS,Andhra Pradesh,10194608,PALASA KASIBUGGA (M),HARIDEEP,2W1B Common,SOODHIKONDA PAMS,AG - 17 AGARBATTI,AMNDH - Dhoop,MD72CUPSAMBRANI,12591,MD CUP SAMBRANI RS. 72 (N)_12591,M_S,0.02,3808.82,PAC,2,45.71,91.41,0.00,91.41,4.57,2.50,2.29,2.50,2.29,0,0,0,0.00,0,0.00,95.98
1,I/24-25/016451,Cash,No,2025-01-13,Invoiced,21BSFA102400019,laitha pan shop 231024,Andhra Pradesh,10196052,METTURU,HARISH,ROC B Pace,RANGOI VAN SWD 2,AG - 17 AGARBATTI,AMNDH - Dhoop,MDSAMBRANI20,12656,MD 15 SAMBRANI 15 (N)_12656,M_S,0.09,640.22,PAC,6,9.60,57.62,0.00,56.04,2.80,2.50,1.40,2.50,1.40,0,0,0,0.00,0,0.00,58.84
2,I/24-25/015723,Credit,Yes,2025-01-01,Invoiced,21BCUS1222,SWAMI AYYAPA KIRANA,Andhra Pradesh,10199561,CHEEPURAPALLE,HARISH,ROC B Pace,meliyaputti 2,AG - 17 AGARBATTI,AMNDH - Dhoop,MDSAMBRANI40,12817,MD SAMBRANI STICKS RS 40_12817,M_S,0.15,495.24,PAC,3,24.76,74.29,0.00,74.29,3.71,2.50,1.86,2.50,1.86,0,0,0,0.00,0,0.00,78.00
3,I/24-25/016034,Credit,Yes,2025-01-07,Invoiced,21BCUS1225,JAMI.KISHORE,Andhra Pradesh,10197375,GOPPILI,HARISH,ROC B Pace,goppili 2,AG - 17 AGARBATTI,AMNDH - Dhoop,MDSAMBRANI40,12817,MD SAMBRANI STICKS RS 40_12817,M_S,0.15,495.24,PAC,3,24.76,NaN,0.00,74.29,3.71,2.50,1.86,2.50,1.86,0,0,0,0.00,0,0.00,78.00
4,I/24-25/016918,Credit,Yes,2025-01-25,Invoiced,21BCUS470,VASVI PANSHOP,Andhra Pradesh,10194608,PALASA KASIBUGGA (M),DEVA RAJ,Convenience Ds CDM,KT ROAD CG,CG - 01 CIGARETTE,CAMKS - KING SIZE,AMCLUBFRTYTFTK10,3041,AM CLUB C FRTY T 10M -CC 10BE_3041,M_S,1.00,4695.98,PAC,100,46.96,4695.98,0.00,4695.98,NaN,14.00,657.44,14.00,657.44,0,0,36,1690.55,4170,4170.00,11871.41

In [18]:
print("="*50)
print("DATA EXPLORATION")
print("="*50)

==================================================
DATA EXPLORATION
==================================================

In [37]:
print(f"Date range: {df['Invoice date'].min()} to {df['Invoice date'].max()}")
print(f"Unique customers: {df['Customer Code'].nunique():,}")
print(f"Unique products: {df['Item Code'].nunique():,}")

Date range: 2025-01-01 00:00:00 to 2025-12-31 00:00:00
Unique customers: 1,300
Unique products: 683

In [38]:
print("="*50)
print("CHECKING MISSING VALUES")
print("="*50)

==================================================
CHECKING MISSING VALUES
==================================================

In [42]:
df.isnull().sum()

Invoice Number           0
Payment Mode             0
Cash Invoice             0
Invoice date             0
Invoice Status           0
Customer Code            0
Customer Name            0
State                    0
Base GOI Market ID       0
Base GOI Market          0
Salesman Name            0
Salesman Type            0
Beat                     0
Category                 0
Sub-Category             0
Market SKU               0
Item Code                0
Item Description         0
Base UOM                 0
Quantity Base UOM        0
Sales Price              0
Invoice UOM              0
Invoice Qty              0
Invoice Rate             0
Gross Amount            28
Discount Amount          0
Taxable Value            0
Tax Group Value         28
CGST Rate                0
CGST                     0
SGST/UTGST Rate          0
SGST/UTGST               0
IGST Rate                0
IGST                     0
Cess Rate                0
Cess                     0
Additional Cess Rate     0
Additional Cess          0
Total Amount             0
dtype: int64

In [43]:
missing = df.isnull().sum().sum()
if missing == 0:
    print(f"✓ No missing values found")
else:
    print(f"⚠ Found {missing} missing values")

⚠ Found 56 missing values

In [65]:
df['Tax Group Value'] = df['CGST'].fillna(0) + df['SGST/UTGST'].fillna(0) + df['Cess'].fillna(0) + df['Additional Cess'].fillna(0)

In [66]:
df.isnull().sum()

Invoice Number          0
Payment Mode            0
Cash Invoice            0
Invoice date            0
Invoice Status          0
Customer Code           0
Customer Name           0
State                   0
Base GOI Market ID      0
Base GOI Market         0
Salesman Name           0
Salesman Type           0
Beat                    0
Category                0
Sub-Category            0
Market SKU              0
Item Code               0
Item Description        0
Base UOM                0
Quantity Base UOM       0
Sales Price             0
Invoice UOM             0
Invoice Qty             0
Invoice Rate            0
Gross Amount            0
Discount Amount         0
Taxable Value           0
Tax Group Value         0
CGST Rate               0
CGST                    0
SGST/UTGST Rate         0
SGST/UTGST              0
IGST Rate               0
IGST                    0
Cess Rate               0
Cess                    0
Additional Cess Rate    0
Additional Cess         0
Total Amount            0
dtype: int64

In [60]:
df['Gross Amount'] = df['Invoice Rate'].fillna(0) * df['Invoice Qty'].fillna(0)

In [67]:
df.isnull().sum()

Invoice Number          0
Payment Mode            0
Cash Invoice            0
Invoice date            0
Invoice Status          0
Customer Code           0
Customer Name           0
State                   0
Base GOI Market ID      0
Base GOI Market         0
Salesman Name           0
Salesman Type           0
Beat                    0
Category                0
Sub-Category            0
Market SKU              0
Item Code               0
Item Description        0
Base UOM                0
Quantity Base UOM       0
Sales Price             0
Invoice UOM             0
Invoice Qty             0
Invoice Rate            0
Gross Amount            0
Discount Amount         0
Taxable Value           0
Tax Group Value         0
CGST Rate               0
CGST                    0
SGST/UTGST Rate         0
SGST/UTGST              0
IGST Rate               0
IGST                    0
Cess Rate               0
Cess                    0
Additional Cess Rate    0
Additional Cess         0
Total Amount            0
dtype: int64

In [69]:
print("="*50)
print("CHECKING DUPLICATES")
print("="*50)

==================================================
CHECKING DUPLICATES
==================================================

In [72]:
duplicates = df.duplicated().sum()
if duplicates == 0:
    print(f"✓ No duplicate rows found")
else:
    print(f"Found {duplicates} duplicate rows")
    df = df.drop_duplicates()
    print(f"✓ Duplicates removed")

✓ No duplicate rows found

In [131]:
print("="*50)
print("CLEANING COLUMN NAMES")
print("="*50)

==================================================
CLEANING COLUMN NAMES
==================================================

In [101]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')
df.columns = df.columns.str.replace('/','_')

In [84]:
print("="*50)
print("UPDATING ROW VALES")
print("="*50)

==================================================
UPDATING ROW VALES
==================================================

In [81]:
df["Category"] = df["Category"].replace({
    "AG - 17 AGARBATTI": "AGARBATTI", 
    "AT - 06 ATTA": "ATTA","BC - 50 BREAKFAST CEREALS": "BREAKFAST CEREALS", "BI - 03 BISCUIT": "BISCUIT", "CF - 05 CONFECTIONARY": "CONFECTIONARY", 
    "CG - 01 CIGARETTE": "CIGARETTE", "CH - 39 CHOCOLATES": "CHOCOLATES", "DT - 24 DEODORANT": "DEODORANT", "FC - 41 FLOOR CLEANER": "FLOOR CLEANER", 
    "HS - 31 HAND SANITIZER": "SANITIZER", "HW - 27 HAND WASH": "HAND WASH", "JU - 28 JUICES": "JUICES", "MT - 18 MATCHES": "MATCHES", "ND - 22 NOODLES": "NOODLES", 
    "SA - 10 SALT": "SALT", "SG - 14 SHOWERGEL": "SHOWERGEL", "SX - 04 BINGO": "BINGO", "TA - 12 TALCUM POWDER": "TALCUM POWDER", "TS - 15 TOILET SOAP": "TOILET SOAP"
})

In [83]:
df.head(10)

,Invoice Number,Payment Mode,Cash Invoice,Invoice date,Invoice Status,Customer Code,Customer Name,State,Base GOI Market ID,Base GOI Market,Salesman Name,Salesman Type,Beat,Category,Sub-Category,Market SKU,Item Code,Item Description,Base UOM,Quantity Base UOM,Sales Price,Invoice UOM,Invoice Qty,Invoice Rate,Gross Amount,Discount Amount,Taxable Value,Tax Group Value,CGST Rate,CGST,SGST/UTGST Rate,SGST/UTGST,IGST Rate,IGST,Cess Rate,Cess,Additional Cess Rate,Additional Cess,Total Amount
0,I/24-25/015848,Cash,No,2025-01-04,Invoiced,21BCUS9931,SRI LAKSHMI EGGS,Andhra Pradesh,10194608,PALASA KASIBUGGA (M),HARIDEEP,2W1B Common,SOODHIKONDA PAMS,AGARBATTI,AMNDH - Dhoop,MD72CUPSAMBRANI,12591,MD CUP SAMBRANI RS. 72 (N)_12591,M_S,0.02,3808.82,PAC,2,45.71,91.41,0.00,91.41,4.57,2.50,2.29,2.50,2.29,0,0,0,0.00,0,0.00,95.98
1,I/24-25/016451,Cash,No,2025-01-13,Invoiced,21BSFA102400019,laitha pan shop 231024,Andhra Pradesh,10196052,METTURU,HARISH,ROC B Pace,RANGOI VAN SWD 2,AGARBATTI,AMNDH - Dhoop,MDSAMBRANI20,12656,MD 15 SAMBRANI 15 (N)_12656,M_S,0.09,640.22,PAC,6,9.60,57.62,0.00,56.04,2.80,2.50,1.40,2.50,1.40,0,0,0,0.00,0,0.00,58.84
2,I/24-25/015723,Credit,Yes,2025-01-01,Invoiced,21BCUS1222,SWAMI AYYAPA KIRANA,Andhra Pradesh,10199561,CHEEPURAPALLE,HARISH,ROC B Pace,meliyaputti 2,AGARBATTI,AMNDH - Dhoop,MDSAMBRANI40,12817,MD SAMBRANI STICKS RS 40_12817,M_S,0.15,495.24,PAC,3,24.76,74.29,0.00,74.29,3.71,2.50,1.86,2.50,1.86,0,0,0,0.00,0,0.00,78.00
3,I/24-25/016034,Credit,Yes,2025-01-07,Invoiced,21BCUS1225,JAMI.KISHORE,Andhra Pradesh,10197375,GOPPILI,HARISH,ROC B Pace,goppili 2,AGARBATTI,AMNDH - Dhoop,MDSAMBRANI40,12817,MD SAMBRANI STICKS RS 40_12817,M_S,0.15,495.24,PAC,3,24.76,74.29,0.00,74.29,3.71,2.50,1.86,2.50,1.86,0,0,0,0.00,0,0.00,78.00
4,I/24-25/016918,Credit,Yes,2025-01-25,Invoiced,21BCUS470,VASVI PANSHOP,Andhra Pradesh,10194608,PALASA KASIBUGGA (M),DEVA RAJ,Convenience Ds CDM,KT ROAD CG,CIGARETTE,CAMKS - KING SIZE,AMCLUBFRTYTFTK10,3041,AM CLUB C FRTY T 10M -CC 10BE_3041,M_S,1.00,4695.98,PAC,100,46.96,4695.98,0.00,4695.98,7175.43,14.00,657.44,14.00,657.44,0,0,36,1690.55,4170,4170.00,11871.41
5,I/24-25/016602,Credit,Yes,2025-01-20,Invoiced,21BCUS9571,APSARA P/S,Andhra Pradesh,10194608,PALASA KASIBUGGA (M),SUBASH,Rural Moped Ds,GOPPILI/ KARAJADA,CIGARETTE,CCLSK - Super Kings,CLASSICCONNECTFK20,3079,CLASSIC CONNECT FTK 20RC_3079,M_S,0.10,5018.90,PAC,5,100.38,501.89,0.00,501.89,738.21,14.00,70.26,14.00,70.26,0,0,36,180.68,4170,417.00,1240.10
6,I/24-25/016028,Credit,Yes,2025-01-07,Invoiced,21BCUS1226,GAYATHRI MOBILES,Andhra Pradesh,10198800,TEKKALIPATNAM,HARISH,ROC B Pace,goppili 2,BINGO,FYTFT - CHIPS - FC,YMT FLCUT CCT RS10,FXC73010PA,BINGO! OS RS.10 CHILLI CHRG TOM_FXC73010PA,KG,0.24,401.78,PAC,12,8.04,96.43,0.00,96.43,11.57,6.00,5.79,6.00,5.79,0,0,0,0.00,0,0.00,108.00
7,I/24-25/016421,Cash,No,2025-01-12,Invoiced,21BCUS100039,KONCHADA LAKSHMI TRADERS,Andhra Pradesh,10194608,PALASA KASIBUGGA (M),RAMANA,2W1A Lite,NEW COLONY FOODS-KASIBUGGA,BISCUIT,FSUDI - DF FILLS,SFDFCHOCOFILLS90,FB101123K,DARKFANTASY CHOCO FILLS 69G RS40_FB101123K,KG,6.21,446.54,CFC,1,2773.00,2773.00,0.00,2662.08,479.17,9.00,239.59,9.00,239.59,0,0,0,0.00,0,0.00,3141.25
8,I/24-25/015799,Credit,Yes,2025-01-03,Invoiced,21BCUS893,J.VENKATARAMANA,Andhra Pradesh,10197942,PATHATEKKALI,VISHWA,ROC A Pace,amalapadu,BISCUIT,FSUMZ - MOMS MAGIC,SF MOM MAGIC RB 05,FB451215N,SF MOMS MAGIC RICHBUTTER 25+8G_FB451215N,KG,0.40,117.13,PAC,12,3.87,46.38,0.00,46.38,8.35,9.00,4.17,9.00,4.17,0,0,0,0.00,0,0.00,54.73
9,I/24-25/017450,Cash,No,2025-01-31,Open,21BCUS100065,BHAVSYA MILK POINT,Andhra Pradesh,10194608,PALASA KASIBUGGA (M),RAMANA,2W1A Lite,main road-kasi bugga,BISCUIT,FSUMZ - MOMS MAGIC,SF MOM MAGIC CA 20,FB452416M,SF MM CASHEW&ALMONDS 91G BOGO PR_FB452416M,KG,6.55,148.67,CFC,1,974.11,974.11,0.00,974.11,175.34,9.00,87.67,9.00,87.67,0,0,0,0.00,0,0.00,1149.45

In [111]:
df = df.rename(columns={
    "invoice_number": "invoice_no", 
    "base_goi_market_id": "market_id",
    "base_goi_market": "market_name",
    "salesman_name": "salesman", 
    "market_sku": "sku", 
    "item_description": "item_desc", 
    "quantity_base_uom": "qty",
    "sales_price": "unit_price", 
    "discount_amount": "discount_amt", 
    "tax_group_value": "tax_total", 
    "cgst_rate": "cgst_rate", 
    "cgst": "cgst_amt", 
    "sgst_utgst_rate": "sgst_rate", 
    "sgst_utgst": "sgst_amt", 
    "igst": "igst_amt", 
    "cess": "cess_amt",
    "additional_cess_rate": "add_cess_rate",
    "additional_cess": "add_cess_amt",
    "total_amount": "total_amount"
})

In [112]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90866 entries, 0 to 90865
Data columns (total 39 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_no      90866 non-null  object
 1   payment_mode    90866 non-null  object
 2   cash_invoice    90866 non-null  object
 3   invoice_date    90866 non-null  datetime64[ns]
 4   invoice_status  90866 non-null  object
 5   customer_code   90866 non-null  object
 6   customer_name   90866 non-null  object
 7   state           90866 non-null  object
 8   market_id       90866 non-null  int64
 9   market_name     90866 non-null  object
 10  salesman        90866 non-null  object
 11  salesman_type   90866 non-null  object
 12  beat            90866 non-null  object
 13  category        90866 non-null  object
 14  sub-category    90866 non-null  object
 15  sku             90866 non-null  object
 16  item_code       90866 non-null  object
 17  item_desc       90866 non-null  object
 18  base_uom        90866 non-null  object
 19  qty             90866 non-null  float64
 20  unit_price      90866 non-null  float64
 21  invoice_uom     90866 non-null  object
 22  invoice_qty     90866 non-null  int64
 23  invoice_rate    90866 non-null  float64
 24  gross_amount    90866 non-null  float64
 25  discount_amt    90866 non-null  float64
 26  taxable_value   90866 non-null  float64
 27  tax_total       90866 non-null  float64
 28  cgst_rate       90866 non-null  float64
 29  cgst_amt        90866 non-null  float64
 30  sgst_rate       90866 non-null  float64
 31  sgst_amt        90866 non-null  float64
 32  igst_rate       90866 non-null  int64
 33  igst_amt        90866 non-null  int64
 34  cess_rate       90866 non-null  int64
 35  cess_amt        90866 non-null  float64
 36  add_cess_rate   90866 non-null  int64
 37  add_cess_amt    90866 non-null  float64
 38  total_amount    90866 non-null  float64
dtypes: datetime64[ns](1), float64(14), int64(6), object(18)
memory usage: 27.0+ MB

In [104]:
df.head(5)

,invoice_number,payment_mode,cash_invoice,invoice_date,invoice_status,customer_code,customer_name,state,base_goi_market_id,base_goi_market,salesman_name,salesman_type,beat,category,sub-category,market_sku,item_code,item_description,base_uom,quantity_base_uom,sales_price,invoice_uom,invoice_qty,invoice_rate,gross_amount,discount_amount,taxable_value,tax_group_value,cgst_rate,cgst,sgst_utgst_rate,sgst_utgst,igst_rate,igst,cess_rate,cess,additional_cess_rate,additional_cess,total_amount
0,I/24-25/015848,Cash,No,2025-01-04,Invoiced,21BCUS9931,SRI LAKSHMI EGGS,Andhra Pradesh,10194608,PALASA KASIBUGGA (M),HARIDEEP,2W1B Common,SOODHIKONDA PAMS,AGARBATTI,AMNDH - Dhoop,MD72CUPSAMBRANI,12591,MD CUP SAMBRANI RS. 72 (N)_12591,M_S,0.02,3808.82,PAC,2,45.71,91.41,0.00,91.41,4.57,2.50,2.29,2.50,2.29,0,0,0,0.00,0,0.00,95.98
1,I/24-25/016451,Cash,No,2025-01-13,Invoiced,21BSFA102400019,laitha pan shop 231024,Andhra Pradesh,10196052,METTURU,HARISH,ROC B Pace,RANGOI VAN SWD 2,AGARBATTI,AMNDH - Dhoop,MDSAMBRANI20,12656,MD 15 SAMBRANI 15 (N)_12656,M_S,0.09,640.22,PAC,6,9.60,57.62,0.00,56.04,2.80,2.50,1.40,2.50,1.40,0,0,0,0.00,0,0.00,58.84
2,I/24-25/015723,Credit,Yes,2025-01-01,Invoiced,21BCUS1222,SWAMI AYYAPA KIRANA,Andhra Pradesh,10199561,CHEEPURAPALLE,HARISH,ROC B Pace,meliyaputti 2,AGARBATTI,AMNDH - Dhoop,MDSAMBRANI40,12817,MD SAMBRANI STICKS RS 40_12817,M_S,0.15,495.24,PAC,3,24.76,74.29,0.00,74.29,3.71,2.50,1.86,2.50,1.86,0,0,0,0.00,0,0.00,78.00
3,I/24-25/016034,Credit,Yes,2025-01-07,Invoiced,21BCUS1225,JAMI.KISHORE,Andhra Pradesh,10197375,GOPPILI,HARISH,ROC B Pace,goppili 2,AGARBATTI,AMNDH - Dhoop,MDSAMBRANI40,12817,MD SAMBRANI STICKS RS 40_12817,M_S,0.15,495.24,PAC,3,24.76,74.29,0.00,74.29,3.71,2.50,1.86,2.50,1.86,0,0,0,0.00,0,0.00,78.00
4,I/24-25/016918,Credit,Yes,2025-01-25,Invoiced,21BCUS470,VASVI PANSHOP,Andhra Pradesh,10194608,PALASA KASIBUGGA (M),DEVA RAJ,Convenience Ds CDM,KT ROAD CG,CIGARETTE,CAMKS - KING SIZE,AMCLUBFRTYTFTK10,3041,AM CLUB C FRTY T 10M -CC 10BE_3041,M_S,1.00,4695.98,PAC,100,46.96,4695.98,0.00,4695.98,7175.43,14.00,657.44,14.00,657.44,0,0,36,1690.55,4170,4170.00,11871.41

In [122]:
print("*"*50)
print("SUMMERY STATISTICS")
print("*"*50)

**************************************************
SUMMERY STATISTICS
**************************************************

In [123]:
{"Total Revenue": df["total_amount"].sum(),
    "Average Transaction": df["total_amount"].mean(),
    "Median Transaction": df["total_amount"].median(),
    "Total Quantity Sold": df["qty"].sum(),
    "Unique Customers": df["customer_code"].nunique(),
    "Unique Products": df["item_code"].nunique(),
    "Unique Invoices": df["invoice_no"].nunique()}

{'Total Revenue': np.float64(95407982.69940001),
 'Average Transaction': np.float64(1049.9855028217376),
 'Median Transaction': 203.1108,
 'Total Quantity Sold': np.float64(503267.0931),
 'Unique Customers': 1300,
 'Unique Products': 683,
 'Unique Invoices': 14730}

In [128]:
print("*"*50)
print("DATA VALIDATION")
print("*"*50)

**************************************************
DATA VALIDATION
**************************************************

In [126]:
df['amount_check'] = df['taxable_value'] + df['tax_total']
df['amount_difference'] = (df['total_amount'] - df['amount_check']).abs()
inconsistent = df[df['amount_difference'] > 0.01]

if len(inconsistent) == 0:
    print(f"✓ All amount calculations consistent")
else:
    print(f"⚠ {len(inconsistent)} rows have calculation inconsistencies")

✓ All amount calculations consistent

In [130]:
print("*"*50)
print("DATA EXPORT")
print("*"*50)

**************************************************
DATA EXPORT
**************************************************

In [133]:
excel_output = 'FMCG_Cleaned_Data.xlsx'
df.to_excel(excel_output, index=False, engine='openpyxl')
print(f"✓ Exported to Excel: {excel_output}")

✓ Exported to Excel: FMCG_Cleaned_Data.xlsx